:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 1rem;

  --primary: #141414;
  --primary-light: #292929;
  --secondary: #ffd700;
  --secondary-dark: #c2a500;
  --shadow-color: hsl(0 0% 10%);

  color: var(--secondary);
  background-color: var(--primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 65%;
}

button {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 1rem;
}

button, a, input, textarea {
  padding: 0.7rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  color: var(--secondary);
  background-color: var(--primary-light);
  box-shadow: 0px 2px hsl(0 0% 30%);
}

input, textarea {
  box-sizing: border-box;
  width: 100%;
}

button, a {
  &:hover {
    color: var(--primary);
    background-color: var(--secondary);
  }
  &:active {
    color: var(--primary-light);
    background-color: var(--secondary-dark);
  }
}

a {
  display: inline-block;
  text-decoration: none;
}

label {
  display: block;
  margin-top: 1rem;
}

button[type="submit"] {
  margin-top: 2rem;
  width: 100%;
}
