:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 1rem;

  --primary: #141414;
  --primary-light: #292929;
  --secondary: #ffd700;
  --secondary-dark: #c2a500;
  --shadow-color: hsl(0 0% 10%);

  color: var(--secondary);
  background-color: var(--primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 65%;
}

button {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 1rem;
}

button,
a,
input,
textarea {
  padding: 0.7rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  color: var(--secondary);
  background-color: var(--primary-light);
  box-shadow: 0px 2px hsl(0 0% 30%);
}

form,
div,
ul {
  padding: 1rem;
}

input,
textarea {
  box-sizing: border-box;
  width: 100%;
}

button,
a {
  &:hover {
    color: var(--primary);
    background-color: var(--secondary);
  }
  &:active {
    color: var(--primary-light);
    background-color: var(--secondary-dark);
  }
}

a {
  display: inline-block;
  text-decoration: none;
}

label {
  display: block;
  margin-top: 1rem;
}

button[type="submit"] {
  margin-top: 2rem;
  width: 100%;
}

hr {
  border-color: var(--primary-light);
  border-width: 2px;
}

ul {
  background-color: hsla(0 25% 13%);
  color: hsla(0 55% 50%);
  border: 2px solid hsla(0 50% 25%);
  border-radius: 5px;
  padding-left: 2rem;
  margin: 1rem;
  box-sizing: border-box;
}

.thin-padding {
  padding: 0.3rem 0.5rem;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
